In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_df = pd.read_csv(filepath_or_buffer='hourly_transportation_202009.csv')

In [3]:
raw_df

,DATE_TIME,TRANSPORT_TYPE_ID,TRANSPORT_TYPE_DESC,LINE,TRANSFER_TYPE_ID,TRANSFER_TYPE,NUMBER_OF_PASSENGER,NUMBER_OF_PASSAGE
0,2020-09-15 09:00:00,3,DENİZ,MOTOR TEKNE,2,AKTARMA,909,910
1,2020-09-16 09:00:00,2,RAY,TELEFERİK MAÇKA - TAŞKIŞLA,2,NORMAL,12,15
2,2020-09-15 12:00:00,2,RAY,KADIKÖY-MODA,2,NORMAL,84,88
3,2020-09-06 13:00:00,1,KARAYOLU,ÖHO,2,NORMAL,60045,69100
4,2020-09-26 13:00:00,2,RAY,TAKSİM-4.LEVENT,2,AKTARMA,3348,3379
...,...,...,...,...,...,...,...,...
22184,2020-09-28 12:00:00,3,DENİZ,ŞEHİR HATLARI,2,AKTARMA,1146,1147
22185,2020-09-29 23:00:00,2,RAY,KİRAZLI-OLİMPİYATKÖY,2,AKTARMA,17,17
22186,2020-09-08 13:00:00,2,RAY,TAKSİM-KABATAŞ FUNİKULERİ,2,AKTARMA,130,131
22187,2020-09-20 23:00:00,2,RAY,KİRAZLI-OLİMPİYATKÖY,2,AKTARMA,22,22
22188,2020-09-10 10:00:00,2,RAY,ÜSKÜDAR ÇEKMEKÖY METROSU,2,NORMAL,3575,3723

In [4]:
new_df=raw_df[raw_df['LINE'].str.contains('KADIKÖY-KARTAL METROSU')]

In [5]:
new_df

,DATE_TIME,TRANSPORT_TYPE_ID,TRANSPORT_TYPE_DESC,LINE,TRANSFER_TYPE_ID,TRANSFER_TYPE,NUMBER_OF_PASSENGER,NUMBER_OF_PASSAGE
459,2020-09-09 14:00:00,2,RAY,KADIKÖY-KARTAL METROSU,2,NORMAL,4706,5016
487,2020-09-04 22:00:00,2,RAY,KADIKÖY-KARTAL METROSU,2,NORMAL,2371,2501
490,2020-09-05 17:00:00,2,RAY,KADIKÖY-KARTAL METROSU,2,NORMAL,6162,6594
499,2020-09-01 15:00:00,2,RAY,KADIKÖY-KARTAL METROSU,2,AKTARMA,1654,1665
502,2020-09-05 19:00:00,2,RAY,KADIKÖY-KARTAL METROSU,2,AKTARMA,1654,1662
...,...,...,...,...,...,...,...,...
22108,2020-09-30 00:00:00,2,RAY,KADIKÖY-KARTAL METROSU,2,NORMAL,38,41
22135,2020-09-30 20:00:00,2,RAY,KADIKÖY-KARTAL METROSU,2,AKTARMA,1149,1153
22144,2020-09-30 15:00:00,2,RAY,KADIKÖY-KARTAL METROSU,2,NORMAL,5533,5817
22163,2020-09-30 14:00:00,2,RAY,KADIKÖY-KARTAL METROSU,2,AKTARMA,1568,1579
22165,2020-09-30 03:00:00,2,RAY,KADIKÖY-KARTAL METROSU,2,NORMAL,1,1

In [6]:
new_df.sort_values(by=['DATE_TIME'])

,DATE_TIME,TRANSPORT_TYPE_ID,TRANSPORT_TYPE_DESC,LINE,TRANSFER_TYPE_ID,TRANSFER_TYPE,NUMBER_OF_PASSENGER,NUMBER_OF_PASSAGE
18706,2020-09-01 00:00:00,2,RAY,KADIKÖY-KARTAL METROSU,2,NORMAL,35,35
13855,2020-09-01 00:00:00,2,RAY,KADIKÖY-KARTAL METROSU,2,AKTARMA,6,6
4626,2020-09-01 02:00:00,2,RAY,KADIKÖY-KARTAL METROSU,2,NORMAL,1,1
18720,2020-09-01 03:00:00,2,RAY,KADIKÖY-KARTAL METROSU,2,NORMAL,3,3
18493,2020-09-01 04:00:00,2,RAY,KADIKÖY-KARTAL METROSU,2,NORMAL,4,4
...,...,...,...,...,...,...,...,...
19272,2020-09-30 21:00:00,2,RAY,KADIKÖY-KARTAL METROSU,2,AKTARMA,676,680
19461,2020-09-30 22:00:00,2,RAY,KADIKÖY-KARTAL METROSU,2,AKTARMA,376,376
5010,2020-09-30 22:00:00,2,RAY,KADIKÖY-KARTAL METROSU,2,NORMAL,2358,2467
4887,2020-09-30 23:00:00,2,RAY,KADIKÖY-KARTAL METROSU,2,NORMAL,1325,1404
1336,2020-09-30 23:00:00,2,RAY,KADIKÖY-KARTAL METROSU,2,AKTARMA,254,255

In [7]:
new_df2 = new_df.groupby(by="DATE_TIME")["NUMBER_OF_PASSENGER"].sum()

In [8]:
new_df2

DATE_TIME
2020-09-01 00:00:00      41
2020-09-01 02:00:00       1
2020-09-01 03:00:00       3
2020-09-01 04:00:00       4
2020-09-01 05:00:00     283
                       ...
2020-09-30 19:00:00    9971
2020-09-30 20:00:00    5338
2020-09-30 21:00:00    3566
2020-09-30 22:00:00    2734
2020-09-30 23:00:00    1579
Name: NUMBER_OF_PASSENGER, Length: 662, dtype: int64

In [9]:
new_df2.to_csv('/root/staj/eylul.csv')